<li class="nav-item">
    <a class="nav-link text-white underline-hover" asp-controller="Admin" asp-action="Index" title="Manage">Sales</a>
</li>
<li class="nav-item">
    <a asp-controller="Admin" asp-action="Agent" class="nav-link text-white underline-hover" title="Manage">Agent</a>
</li>
<li class="nav-item">
    <a class="nav-link text-white underline-hover" asp-controller="Admin" asp-action="Products" title="Manage">Products</a>
</li>
